:root {
    --grid1-size-x: 3;
    --grid1-size-y: 3;
    --grid2-size-x: 3;
    --grid2-size-y: 3;
}

body {
    background-color:rgb(16, 56, 68);
    color:blanchedalmond;
    text-align: center;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.dice-lable {
    font-size: 6em;
    margin-top: 0;
    text-shadow: 4px 2px 1px seagreen;
    font-family: "Galada", cursive;
}

section {
    text-align: center;
    height: 80vh;
}
.dices-container {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    width: 66%;
    margin: auto;
    grid-gap: 1em;

}

.dice {
    margin: auto;
}


.dice h3 {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 1.4em;
}


.dice-points-container {
    width: 9em;
    height: 9em;
    padding: 1em;
    background-color: brown;
    border-radius: 20px;
    display: grid;
}

.d1 .dice-points-container{
    grid-template-columns: repeat(var(--grid1-size-x), 1fr);
    grid-template-rows: repeat(var(--grid1-size-y), 1fr);
}

.d2 .dice-points-container{
    grid-template-columns: repeat(var(--grid2-size-x), 1fr);
    grid-template-rows: repeat(var(--grid2-size-y), 1fr);
}

.dice-points-container div {
    width: 20px;
    height: 20px;
    background-color: bisque;
    border-radius: 50%;
    margin: auto;
    padding: 0.4em;
    /* box-shadow: 3px 3px 4px rgb(209, 107, 107)   ; */
}

.pulldown-msg {
    display: none;
}

footer {
    text-align: center;
}

@media (max-width: 600px) {
    body {
        font-size: .7em;
    }
    .dice-points-container div {
        padding: 4px;
        width: 15px;
        height: 15px;
    }
    .pulldown-msg {
        display: inline-block;
        margin-top: 100px;
        font-size: 2em;
    }
}